<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio</h1>
    <p class="lead text-muted">My variety of work below shows how I think and build. Projects include using design research and developing digital, interactive experiences.</p>
    <p>
      <%= link_to 'Learn More About Me', about_me_path, class: 'btn btn-primary my-2' %>
      <%= link_to 'Read My Blog', blogs_path, class: 'btn btn-secondary my-2' %>
    </p>
  </div>
</section>