<h1>About Me</h1>

<hr />

<div class="row">

  <div class="col-md-4">
    <%= image_tag "James_NYC.jpg", width: 200, alt: 'Profile image' %>
  </div>

  <div class="col-md-8">
    <p>Find me in app/views/pages/about.html.erb</p>
  </div>

</div>

