<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>2502 Live Oak St. Dallas, TX 75204</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "214.924.6441" %></p>

    <h3>Email</h3>

    <p><a href="mailto:jamesalanis.design@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.19757034411!2d-96.79304598472824!3d32.787020280968996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e98df3ee850bd%3A0xcb77cc4b7ee3037a!2s2502+Live+Oak+St%2C+Dallas%2C+TX+75204!5e0!3m2!1sen!2sus!4v1543630357144" width="225" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>